<div class="bg-white border-bottom sticky-top d-flex justify-content-between p-2">
    <div class="p-0">
        <span>
            <a class="text-decoration-none btn text-muted" href="#"><i class="fa fa-bars"></i></a>
        </span>

        <a class="navbar-brand text-dark px-3" href="#">
            <span><img
                    src={{logo}}
                    width="27" height="20" class="d-inline-block" alt=""></span>
            <span class="font-weight-bold">{{title}}</span>
        </a>
    </div>

    <div class="p-0 w-50 d-none d-md-block">
        <div class="input-group">
            <input type="text" class="form-control-sm rounded-left pl-3" placeholder="Search">
            <div class="input-group-prepend">
                <button class="btn input-group-text px-4"><i class="fa fa-search"></i></button>
            </div>
        </div>
    </div>

    <div class="p-0 d-none d-md-block">
        <span class="navbar-text p-0">
            <a class="text-decoration-none btn text-muted" href="#" title="Create"><i class="fa fa-video-camera"></i></a>
            <a class="text-decoration-none btn text-muted" href="#" title="YouTube Apps"><i class="fa fa-th"></i></a>
            <a class="text-decoration-none btn text-muted" href="#" title="Notifications"><i class="fa fa-bell"><span
                        class="badge badge-danger">{{notification_count}}</span></i></a>
            <a class="text-decoration-none btn text-muted" href="#" title="My Account"><i class="fa fa-user-circle"></i></a>
        </span>
    </div>
</div>