<!-- ['snippet']['thumbnails']['high']['url'] -->

<div class="row">
    <div class="col-md-3 mb-3 hover-shadow" *ngFor="let item of video; let i=index;">
      <div class="card border-0 rounded-0 bg-transparent cursor-pointer p-0">
        <img src="{{ item['snippet']['thumbnails']['high']['url'] }}" alt="thumbnail" width="100%" height="100%">
        <div class="card-body p-2">
          <p class="card-text text-truncate mb-0">{{item['snippet']['title']}}</p>
          <div class="">
            <!-- <div class="btn-group">
              <button type="button" class="btn btn-sm btn-outline-danger" title="Play"><i class="fa fa-play"></i></button>
              <button type="button" class="btn btn-sm btn-outline-primary" title="Share"><i class="fa fa-share"></i></button>
            </div> -->
            <span><b><small class="text-muted">{{item['snippet']['channelTitle']}}</small></b></span>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 mb-3 hover-shadow">
      <div class="card border-0 rounded-0 bg-transparent cursor-pointer p-0">
        
      </div>
    </div>
  </div>
  <div class="text-center">
    <button (click)="getMoreVideos()">More</button>
  </div>


  <!-- <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4">
      <div class="col">
        <iframe width="100%" height="100%" src="https://www.youtube.com/embed/5p-Bgvx0KlE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
      </div>
    </div>
  </div> -->