<div class="row p-0 m-0">
    <div class="col-2 p-0 m-0 jumbotron rounded-0 bg-white p-0 scroll">
        <div class="pr-2">
            <!-- Left side content -->
            <app-menulistleft></app-menulistleft>
            <!-- End Left side content -->
        </div>
    </div>
    <div class="col-10 p-0 m-0 jumbotron bg-light rounded-0 p-3 scroll">
        <div class="container-fluid">
            <!-- Right side content -->
            <app-bodycontentright></app-bodycontentright>
            <!-- End Right side content -->
        </div>
    </div>
</div>